/* GLOBAL */

@font-face {
    src: url(./font/Gotham\ Medium.otf);
    font-family: "Gotham";
}

html, body {
    font-family: "Gotham";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a { text-decoration: none; color: inherit; }

.flexbox {
    display: flex;
    height: 100%;
    align-items: center;
}

/* HEADER */

.header {
    color: #ffffff;
    background-color: #262626;
    width: 100%;
    height: 50px;
}

.header-left {
    justify-content: start;
    width: 35%;
    position: relative;
    float: left;
}

.header-right {
    justify-content: end;
    width: auto;
    position: relative;
    float: right;
}

.nav-button {
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 0.8425rem;
    padding: 0 20px;
    width: auto;
}

.header-left .nav-button {
    border-right: 1px solid #ffffff;
}

.header-right .nav-button {
    border-left: 1px solid #ffffff;
}

.nb-right:last-child {
    background-color: #a7875a;
    width: 180px;
    padding: 0;
}

/* BANNER */

.items {
    color: #ffffff;
    width: 100%;
    margin: 0 auto 0 auto;
    justify-content: center;
}

.item-image {
    width: 50px;
    margin: 0 auto 10px auto;
    display: block;
    font-size: 30px;
}

.item-select {
    margin: 0 9px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
    text-align: center;
}

.item-select:last-child {
    position: absolute;
    right: 0;
    height: 140px;
    margin: 0;
    border-left: 1px inset #da2128;
}

.item-select:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.item-select:last-child:hover .search-icon {
    visibility: hidden;
    opacity: 0;
    font-size: 0;
}

.item-select:last-child .search-icon {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s ease, opacity 0.5s ease, font-size 0.5s ease;
}

.search-text {
    font-size: 15px;
}

.item-select:hover {
    background-color: #ffffff;
    color: #da2128;
}

.item-text {
    padding: 0 10px;
}

.red-banner {
    background-image:linear-gradient(#da2128, #990000);
    width: 100%;
    height: 140px;
}

.white-banner {
    width: 100%;
    height: 50px;
    justify-content: center;
}

.banner-info {
    padding: 100px;
    font-size: 15px;
    transition: color 0.5s ease;
    margin-top: 45px;
}

.banner-info:hover {
    color: #da2128;
}

.logo {
    position: absolute;
    top: 50px;
}

.search-button {
    position: absolute;
    right: 50px;
    top: 100px;
}

/* TITLE */

.title-div {
    background-image: url(./images/cate-tenues-de-match.jpeg);
    height: 253px;
}

.title {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SLIDER */

.slider {
    position: relative;
    width: 100vw;
}

.slide-image {
    width: 100vw;
    flex: 0 0 auto;
    justify-content: center;
}